<md-dialog>
    <form name="editCarCtrl.editCarForm" data-ng-submit="editCarCtrl.saveCar(editCarCtrl.editingCar)">
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 class="md-title">{{editCarCtrl.editingCar.id ? 'Editar Carro' : 'Adicionar Carro'}}</h2>
                <fv-image-selector label="Imagem capa" get-image-url="editCarCtrl.getImageUrl" current-images="editCarCtrl.editingCar.coverImage" 
                    update-callback="editCarCtrl.coverImageUpdate"></fv-image-selector>
                <md-input-container class="md-block">
                    <label>Marca</label>
                    <md-select ng-model="editCarCtrl.editingCar.brand" placeholder="Selecione uma marca">
                        <md-option ng-selected="editCarCtrl.editingCar.brand.id === brand.id" ng-value="brand" ng-repeat="brand in editCarCtrl.brands">{{ brand.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Modelo</label>
                    <input name="model" type="text" ng-model="editCarCtrl.editingCar.model" autocomplete="off" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Ano</label>
                    <input name="year" type="text" ng-model="editCarCtrl.editingCar.year" autocomplete="off" required
                        ng-pattern="/^[0-9]*$/">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Cor</label>
                    <input name="color" type="text" ng-model="editCarCtrl.editingCar.color" autocomplete="off" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Preço</label>
                    <div style="display: flex; align-items: center;">
                        <span style="margin-right: 5px;">R$</span>
                        <input placeholder="0,00" name="price" type="text" ng-model="editCarCtrl.editingCar.price" autocomplete="off"
                            required currency-formatter>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Descrição</label>
                    <textarea name="description" ng-model="editCarCtrl.editingCar.description" autocomplete="off"
                        rows="5"></textarea>
                </md-input-container>
                <fv-image-selector label="Imagens" multiple get-image-url="editCarCtrl.getImageUrl" current-images="editCarCtrl.editingCar.images" 
                    update-callback="editCarCtrl.imagesUpdate" delete-callback="editCarCtrl.deleteImage"></fv-image-selector>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="button" ng-click="editCarCtrl.close()"><span>Cancelar</span></md-button>
            <md-button type="submit" ng-disabled="!editCarCtrl.editCarForm.$valid"><span>Salvar</span></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>