<div class='home-content'>
    <div class="home-header">
        <div class="search-box">
            <fv-input label="Pesquisar carros" type="text" model="currentCarSearch" icon="search"
                icon-tooltip="Realizar pesquisa" icon-callback="reloadCars" enter-callback="reloadCars">
        </div>
        <div class="brand-box">
            <h2>{{::'Visualize por marca'}}</h2>
            <div class="brand-list">
                <div ng-if="!brands || !brands.length">{{'Nenhuma marca encontrada'}}</div>
                <div class="brand-card" ng-class="{'active': currentBrandView && currentBrandView.id == brand.id}"
                    ng-repeat="brand in brands track by brand.id" ng-click="searchCarsByBrand(brand)">
                    <md-tooltip>{{::brand.name}}</md-tooltip>
                    <img ng-src="{{getImageUrl(brand.logo)}}" alt="BRAND LOGO">
                </div>
            </div>
        </div>
        <md-divider></md-divider>
    </div>
    <div class="home-body">
        <div class="car-box">
            <h2 class="title">{{(currentBrandView ? 'Carros ' + currentBrandView.name : 'Carros')}}</h2>
            <div ng-if="!cars || !cars.length" style="text-align: center;">{{'Nenhum carro encontrado'}}</div>
            <div class="car-list">
                <div class="car-card" ng-repeat="car in cars track by car.id">
                    <span class="car-card-image-content" ng-click="viewCar(car)">
                        <img ng-src="{{::getImageUrl(car.coverImage)}}" alt="CAR IMAGE">
                        <div class="car-card-overlay">
                            <div class="overlay-info">{{::'Ver detalhes'}}</div>
                        </div>
                    </span>
                    <span>{{::(car.brand.name + ' ' + car.model)}}</span>
                    <span style="color: var(--success);">{{::car.price | fvCurrency}}</span>
                </div>
            </div>
        </div>
    </div>
</div>