fv-home {
    background-color: white;
    overflow-y: auto;
}

.home-content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-template-rows: 0.5fr 1fr;
    padding: 0 10%;
    grid-template-columns: 1fr;
    margin-bottom: 10%;
}

.home-header {
    align-self: baseline;
    padding: 50px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-header .search-box {
    width: 70%;
}

.home-body {
    padding-bottom: 100px;
    align-self: baseline;
}

.home-body .car-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-size), var(--card-size)));
    justify-content: center;
    gap: 25px;
}

.home-body .car-box .title {
    text-align: center;
    padding-bottom: 25px;
}

.home-body .car-list .car-card img {
    width: var(--card-size);
    height: var(--card-size);
}

.home-body .car-list .car-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 8px 0px #c8c8c8;
}

.home-body .car-list .car-card > *:not(:first-child) {
    padding: 15px;
}


.home-header .brand-box {
    width: 100%;
    max-width: 100vw;
}

.home-header .brand-box h2 {
    text-align: center;
    padding-bottom: 25px;
}

.home-header .brand-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.home-header .brand-list .brand-card {
    cursor: pointer;
    padding: 5px;
}

.home-header .brand-list .brand-card.active {
    border: 4px solid var(--main);
}

.home-header .brand-list .brand-card img {
    width: 150px;
    height: 150px;
}

.home-body .car-card-image-content {
    position: relative;
}

.home-body .car-card-image-content:hover .car-card-overlay {
    opacity: 1;
}

.home-body .car-card-image-content:hover .car-card-overlay .overlay-info {
    height: calc(var(--btn-height) * 2);
}

.home-body .car-card-overlay {
    transition: 0.4s linear;
    opacity: 0;
    background-color: #000000ad;
    position: absolute;
    display: flex;
    top: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.home-body .car-card-overlay .overlay-info {
    background-color: var(--main);
    height: 0;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}