:root {
    --main: rgb(29, 108, 255);
    --main-hover: rgb(4, 65, 179);
    --accent: rgb(251, 142, 0);
    --accent-hover: rgb(255 178 78);
    --font-color-main: rgb(15, 15, 15);
    --font-color-accent: #fff;
    --bg: rgb(219, 216, 216);
    --default-border: 1px solid rgb(197, 197, 197);
    --btn-width: 150px;
    --btn-height: 40px;
    --nav-font-color: #fff;
    --success: rgb(54 189 45);
    --success-opacity: rgb(76 179 42 / 50%);

    --card-size: 300px;

    --nav-height: 8vh;
    --main-height: 92vh;

    --shadow: #c8c8c8;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}


/* RESET */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,
body {
    color: var(--font-color-main);
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

a,
button {
    text-decoration: none;
    color: var(--font-color-accent);
    cursor: pointer;
}

button[disabled] {
    background-color: #bfbfbf;
}

.btn-main {
    width: var(--btn-width);
    height: var(--btn-height);
    background-color: var(--accent);
    border: none;
    transition: 0.5s;
}

.btn-main:not([disabled]):hover {
    background-color: var(--accent-hover);
    transition: 0.5s;
    transform: scale(1.05, 1.05);
}

button:focus {
    outline: none;
    box-shadow: none;
}

main {
    background-color: var(--bg);
    width: 100%;
    height: var(--main-height);
    min-height: 0;
}

footer {
    height: var(--footer-height);
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

table.fv-table {
    width: 100%;
    border-collapse: separate;
    margin: 0;
}

table.fv-table th,
table.fv-table td {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 56px;
    padding: 10px 10px;
}

table.fv-table tr:last-child th,
table.fv-table tr:last-child td {
    border-bottom: 0;
}

table.fv-table md-checkbox {
    margin: 0;
    width: 20px;
}

table.fv-table .center {
    text-align: center;
}

table.fv-table .right {
    text-align: right;
}

td.vcenter {
    vertical-align: middle;
}

table.fv-table .right,
.grid-table .right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.grid-table .center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-box {
    height: 50px;
    border: 1px solid #9e0606;
    background-color: #ffc7c7;
    display: flex;
    align-items: center;
    color: #9e0606;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.grid-table {
    display: grid;
    grid-gap: 25px;
}

.grid-table-body {
    display: grid;
    grid-gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 50vh;
    width: 100%;
    min-width: fit-content;
}

.grid-table-head {
    display: grid;
    grid-gap: 15px;
    font-weight: 600;
    border-bottom: 1px solid rgb(151, 151, 151);
}

.grid-table-body > .grid-table-body-content {
    display: grid;
    grid-gap: 15px;
    border-bottom: 1px solid rgb(151, 151, 151);
    padding-bottom: 15px;
}


.spinner {
    display: flex;
    width: max-content;
    align-items: center;
    font-weight: bold;
    justify-self: center;
}

.spinner img {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

button .spinner {
    width: 100%;
    justify-content: center;
}

button .spinner img {
    height: calc(var(--btn-height) / 2);
    width: calc(var(--btn-height) / 2);
}

.a-sref {
    color: #175ac9;
}