.auth-child-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.auth-child-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    min-width: 350px;
}

.auth-child-content form button {
    margin-top: 25px;
    width: 100%;
}

.auth-child-content form md-input-container {
    width: 100%;
}