<div class="auth-child-content">
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <div class="md-title" style="text-align: center;">{{::'Esqueci minha senha'}}</div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div ng-if="invalidCredentials" class="error-box">
                <span>{{::'Nome de usuário ou e-mail inválido'}}</span>
            </div>
            <form name="forgotForm" ng-submit="handleForgot()" ng-if="!sended">
                <fv-input class="md-flex" label="Nome de usuário ou e-mail" type="text" model="credentials.login"
                    autofocus="true" required></fv-input>
                <button class="btn-main" type="submit" ng-disabled="!forgotForm.$valid || loading">
                    <div class="spinner" ng-show="loading">
                        <img src="{{::'img/loading.gif'}}" alt="LOADING">
                        <span>{{::'Enviando'}}</span>
                    </div>
                    <span ng-show="!loading">
                        {{'Enviar' | translate}}
                    </span>
                </button>
            </form>
            <h3 ng-if="sended" style="text-align: center;
                height: 100px;
                display: flex;
                align-items: center;">
                Um e-mail foi enviado para a recuperação de senha.
            </h3>
        </md-card-content>
    </md-card>
</div>