.fv-input-content md-input-container {
    background-color: #fff;
}

.fv-input-content md-input-container.md-flex {
    display: flex;
    flex-direction: row-reverse;
}

.fv-input-content md-input-container.md-block {
    max-height: 45px;
}

.fv-input-content md-input-container.md-input-focused input {
    border: 1px solid var(--accent) !important;
}

.fv-input-content {
    margin-top: 25px;
}

fv-input {
    width: 100%;
}